.form {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input[type="text"]{
  border-radius: 5px;
  height: 40px;
  padding: 0 20px;
  font-size: 20px;
  border: 1px solid #ccc;
  min-width: 80%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.form button[type="submit"]{
  margin-left: 5px;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 40px;
  background: #f04c64;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
